@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: monospace;
}

nav {
  font-family:'Roboto', sans-serif;
}

h1 {
  font-family:'Roboto', sans-serif;
  width: 15%;
  margin: 0 auto;
  margin-top: 2%;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(240,240,240);
  width: 100%;
}

.logo-nav {
  margin-bottom: 10px;
  width: 192.5px;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  font-size: 24px;
}

/* Form */

.form-contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.form-area {
  padding: 5%;
}

.links {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.btn {
  margin-left: 30%;
}

.wild-breakfeast {
  padding: 5%;
}

@media screen and (min-width: 992px) {
  .form-contact {
    width: 50%;
  }
  .links {
    width: 50%;
  }
}

/* Footer */
.footer-class {
  background-color: #3B424E;
  position: relative;
  bottom: 0;
  width:100%;
  color:white;
  text-decoration: none;
}

.footer-img {
  width: 150px;
}

.footer-align-img {
  margin-top: 1%;
}

@media screen and (max-width: 575px) {
  .bloc-img {
    display:none;
  }
}

.footer-align {
  margin-top: 2%;
}

.footer-align-propos {
  margin-top: 1%;
}

.footer-align-media li {
  display: inline;
}
