@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: monospace;
}

nav {
  font-family:'Roboto', sans-serif;
}

h1 {
  font-family:'Roboto', sans-serif;
  margin: 0 auto;
  margin-top: 2%;
}

/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(240,240,240);
  width: 100%;
  z-index: 9999;
}

.logo-nav {
  margin-bottom: 10px;
  width: 192.5px;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  font-size: 24px;
}

/* Form */

.form-contact {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.form-area {
  padding: 5%;
}

.links {
  width: 80%;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 6%;
  box-shadow: 1px 1px 20px 10px #ec6d6a;
  border-radius: 10px;
}

.btn {
  margin-left: 30%;
}

.wild-breakfeast {
  padding: 5%;
}

@media screen and (min-width: 992px) {
  .form-contact {
    width: 50%;
  }
  .links {
    width: 50%;
  }
}

/* Cards Index */

.all_the_cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.block_cards
{
  margin-top: 70px;
  width: 250px;
  height: 360px;
  margin: 20px;
  border-top-right-radius:120px 110px;
  border-top-left-radius:120px 110px;
  border-bottom-right-radius:120px 110px;
  border-bottom-left-radius:120px 110px;
  box-shadow: 1px 1px 20px 5px #ec6d6a;
}

.photo_miniature
{
  border-radius: 50%;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 30px;
}
.nom_prenom
{
 display: flex;
 justify-content: space-around;
 width: 160px;
 border: solid 2px;
 height: 30px;
 margin-left: 42.5px;
 margin-right: 42.5px;
 margin-top: 20px;
}
.prenom
{
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1.6px;
  margin-right: -40px;
  margin-right: -40px;

}

.nom
{
  font-size: 0.8em;
  text-align: center;
}


.description_rapide
{
 width: 200px;
 height: 70px;
 border: solid black 2px;
 margin-left: 22.5px;
 margin-right: 22.5px;
 margin-top: 20px;
}


@media screen and (max-width: 360px) 
{

  .block_cards 
  {
    width: 110px;
    height: 200px;
    margin: 15px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 90%;
    margin-left: 5.8px;
    margin-right: 5.8px;
    margin-top: 10px
  }
  .nom_prenom
  {
   width: 90px;
   height: 50px;
   margin-left: 7.5px;
   margin-right: 7.5px;
   margin-top: 20px;
 }
 .description_rapide
 {
   display: none
 }
}

@media screen and (min-width: 361px) and (max-width: 376px)
{
  .block_cards 
  {
    width: 140px;
    height: 240px;
    margin: 16px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
   width: 120px;
   height: 70px;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 30px;
 }

 .description_rapide
 {
   display: none
 }
}

@media screen and (min-width: 376px) and (max-width: 538px)
{
  .block_cards 
  {
    width: 140px;
    height: 240px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
   width: 120px;
   height: 70px;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 30px;
 }

 .description_rapide
 {
   display: none
 }
}

@media screen and (min-width: 539px) and (max-width: 556px)
{
  .block_cards 
  {
    width: 160px;
    height: 270px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 15px
  }
  .nom_prenom
  {
   width: 120px;
   height: 70px;
   margin-left: 16px;
   margin-right: 16px;
   margin-top: 30px;
 }
 .description_rapide
 {
   display: none
 }
}

@media screen and (min-width: 557px) and (max-width: 796px)
{
  .block_cards 
  {
    width: 230px;
    height: 350px;
    margin: 20px;
  }
  .photo_miniature
  {
    border-radius: 50%;
    width: 75%;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px
  }
  .nom_prenom
  {
   display:flex;
   width: 200px;
   height: 100px;
   margin-left: 12px;
   margin-right: 12px;
   margin-top: 30px;
 }
 .description_rapide
 {
   display: none
 }
}

@media screen and (min-width: 797px) and (max-width: 1180px) 
{
  .block_cards 
  {
    margin: 70px;
  }
}

/* Footer */
.footer-class {
  position: relative;
  background-color: #3B424E;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-decoration: none;
}

.footer-img {
  width: 150px;
}

.footer-align-img {
  margin-top: 1%;
}

@media screen and (max-width: 575px) 
{
  .bloc-img {
    display:none;
  }
}

.footer-align {
  margin-top: 2%;
}

.footer-align-propos {
  margin-top: 1%;
}

.footer-align-media li {
  display: inline;
}

/*page accueil*/

.align-home {
  margin-top: 25px;
}

.bloc-wcs-phenix >div {
  display: flex;
  align-items: center;
}

.bloc-wcs > div {
  display: flex;
  align-items: center;
}


.img-facade {
  width: 100%;
}

.desc-wcs {
  margin: 4% auto;
  align-items: flex-start;
  flex-direction: column;
}

.titre-accueil {
  text-align: center;
  margin-bottom: 2%;
}

.taille-phenix {
    width: 50%;
}

@media screen and (min-width: 768px) {
  .bloc-wcs-phenix {
    display: flex;
    flex-direction: row-reverse;
  }

  .taille-phenix {
    width: 100%
  }
}

.logo-promo {
  display: flex;
  justify-content: center;
}
