<!DOCTYPE html>
<html lang="fr">
<head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


<footer>
	<div class="container-fluid">
		<div class="row">

		<!--insertion logo-->
		<div class="col-3">
			 <img src="logowcs.png" width="50%">
		 </div>
		<!-- liste partie 1-->
		<div class="col-3">
			<ul>
				<li>A propos</li>
				<li>Contact</li>
				<li>FAQ</li>
			</ul>
		</div>

		<!--liste partie 2 -->
		<div class="col-3">
		<ul>
			<li>Mentions légales</li>
			<li>Politique de confidentialité</li>
		</ul>
		</div>

	<!-- footer part 3 follow : logo a mettre en ligne-->

		<div class="col-3">
			<ul>
				<li>Pour nous suivre</li>
				<li><a href="https://www.facebook.com/wildcodeschool/">Facebook</a></li>
				<li><a href="https://twitter.com/wildcodeschool">Twitter</a></li>
				<li><a href="https://www.instagram.com/wildcodeschool/">Instagram</a></li>
				<li><a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw">Youtube</a></li>
				<li><a href="">Linkedin</a></li>
			</ul>
		</div>
	</div>
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>